page-login {
    .loginForm {
        margin-top: 30%;
    }
    .loginButton {
        margin-top: 25px;
    }
    .registerText {
        color: color($colors, primary);
        margin-top: 15vh;
    }
}
