page-match-info {
	ion-card {
		height: 75px;
	}

	.gainColor {
		color: #46b383;
	}

	.loseColor {
		color: #b34646;
	}

	.noChangeColor {
		color: rgba(0, 0, 0, 0.5);
	}

	[col-13] {
		flex-basis: 45px;
		flex-grow: 0;
	}

	[col-14] {
		flex-grow: 1;
		overflow: hidden;
	}

	[col-15] {
		flex-basis: 92px;
		flex-grow: 0;
	}

	.card-content {
		padding: 13px 5px 14px;
	}

	ion-col {
	padding: 5px 0px;
	}

	ion-col[width-12] {
		-webkit-flex: 0 0 12%;
		-ms-flex: 0 0 12%;
		flex: 0 0 12%;
		max-width: 12%;
	}

	p {
		white-space: nowrap;
		overflow: hidden;
	}

	.info {
		height: auto;
	}

	.info-card {
		padding: 13px 16px 14px;
	}

}
