<ion-header>
  <ion-navbar>
    <ion-title>Ranking</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="pushPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let player of players | orderBy : ['-rank']; let i = index" style="vertical-align-content">
      <ion-row>
        <ion-col text-left center width-10>
          <ion-icon name="trophy" item-left *ngIf="i == 0" [style.color]="first"></ion-icon>
          <ion-icon name="trophy" item-left *ngIf="i == 1" [style.color]="second"></ion-icon>
          <ion-icon name="trophy" item-left *ngIf="i == 2" [style.color]="third"></ion-icon>
          <ion-icon name="trophy" item-left *ngIf="i > 2" [style.color]="rest"></ion-icon>
        </ion-col>
        <ion-col center>
          {{i + 1}}.
        </ion-col>
        <ion-col center width-50 class="overflow-hidden">
          {{player.username}}
        </ion-col>
        <ion-col text-right center>
           {{player.rank}}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>
