<ion-header>
  <ion-toolbar>
    <ion-title>Results</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="pushPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group text-center [virtualScroll]="matches | orderBy : ['-created_at']" [headerFn]="myHeaderFn" [virtualTrackBy]="virtualTrack" approxItemHeight="75px">
    <ion-item-divider sticky text-center *virtualHeader="let header">
      {{header}}
    </ion-item-divider>
    <ion-card *virtualItem="let match">
      <ion-card-content>
        <ion-row>
          <ion-col text-right center width-10 [ngClass]="(match.points.team1 > 0) ? 'gainColor' : 'loseColor'">
            <span *ngIf="match.points.team1 > 0" text-right>▲</span><span *ngIf="match.points.team1 < 0" text-right>▼</span>{{match.points.team1Positive}}
          </ion-col>
          <ion-col text-right center width-25>
            <span *ngFor="let player of match.teams.team1"><p>{{player.username}}</p> </span>
          </ion-col>
          <ion-col text-center center>
            <h1>{{match.scores.team1}} - {{match.scores.team2}}</h1>
          </ion-col>
          <ion-col text-left center width-25>
            <span *ngFor="let player of match.teams.team2"><p>{{player.username}}</p> </span>
          </ion-col>
          <ion-col text-left center width-10 [ngClass]="(match.points.team2 > 0) ? 'gainColor' : 'loseColor'">
            <span *ngIf="match.points.team2 > 0" text-left>▲</span><span *ngIf="match.points.team2 < 0" text-left>▼</span>{{match.points.team2Positive}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-item-group>

</ion-content>
